build/*/build/
build/*/dist/
build/*/nbproject/private
*.o
*.o.d
Makefile-default.mk
Makefile-genesis.properties
Makefile-impl.mk
Makefile-local-default.mk
Makefile-variables.mk
Package-default.bash
project.properties
_SYNCAPP/
